* {
    box-sizing: border-box;
}

html {
    /* line-height: 1.71; */

}

body {
    margin: 0;
    font-size: 1 rem;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:visited {
    color: reset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

li {
    list-style-type: none;
}

button {
    cursor: pointer;
}

i {
    cursor: pointer;
}



textarea {
    resize: none;
}