.mail-preview img {
    width: 1.2625em;
}

/* .mail-preview {
    background-color: rgba(231, 231, 231, 0.37);
    font-weight: normal
} */

.preview-btn-container {
    display: flex;
    justify-content: flex-end;
}