.mail-index {
    display: flex;
    flex-direction: column;
    margin-top: 1.25em;
    border-top: 1px solid lightgrey;
}

.mail-index nav {
    position: relative;
}

.mail-index .main-content {
    margin-top: 1.25em;
}

.mail-index nav {
    margin: 0.625em;
}

.app-header h1 {
    font-family: conthrax;
}